::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.6);
}

scrollbar-button {
  display: none !important;
}

.meeting-container {
  display: flex;
  height: 100vh;
}

.chat-section {
  flex: 1;
  border-right: 2px solid #ccc;
  position: relative;
}

.coding-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 67%;
  overflow: hidden;
}

.code-editor {
  flex: 1;
}

.result-view {
  flex: 1;
  background: #f8f8f8;
  padding: 10px;
  border-top: 2px solid #ccc;
}

@media screen and (max-width: 768px) {
  .meeting-container {
    flex-direction: column;
    height: auto;
    min-height: 150vh;
  }

  .chat-section {
    border-right: none;
    border-bottom: 2px solid #ccc;
    min-height: 60vh;
  }

  .coding-section {
    flex-direction: column;
  }
}
