.join-meeting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #cfd7e0;
}

.join-meeting-title {
  font-size: 2rem;
  margin-bottom: 40px;
}

.join-meeting-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10rem;
}

.join-meeting-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.meeting-id-input {
  min-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

.email-input {
  min-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

.name-input {
  min-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

.email-input:focus,
.meeting-id-input:focus,
.name-input:focus {
  outline: none;
}

.toggle-link {
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 1rem;
}

.toggle-link > span > span {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

.join-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-button,
.create-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

.create-button {
  background-color: #28a745;
}
